<div id="fh5co-about" data-section="blog">
  <div class="fh5co-2col">

    <div class="fh5co-2col-inner left">

      <div class="fh5co-tabs-container">
        <ul class="fh5co-tabs fh5co-three">
          {{ range .Site.Params.blog.item }}
          {{ if eq .weight 1}}<li class="active">{{ else }}<li>{{ end }}
            <a href="#" data-tab={{ .name }}>{{ .title | markdownify }}</a>
          </li>
          {{ end }}
        </ul>

        {{ range .Site.Params.blog.item }}
        {{ if eq .weight 1}}
        <div class="fh5co-tab-content active" data-tab-content={{ .name }}>
        {{ else }}
        <div class="fh5co-tab-content" data-tab-content={{ .name }}>
        {{ end }}
          <h2>{{ .subtitle | markdownify }}</h2>
          {{ .description | markdownify }}
        </div>
        {{ end }}

    <!-- Begin Blog container -->
          
{{ define "main" }}
<main>
    <article>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
    </article>
    <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
        <li>
            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
        </li>
    {{ end }}
    </ul>
</main>
{{ end }}
    <!-- End Blog container -->
</div>
<!-- End Blog section -->
      </div>

    </div>

  </div>

  <div class="fh5co-2col fh5co-text">
    <div class="fh5co-grid">
      {{ if .Site.Params.blog.images.enable }}
      {{ range .Site.Params.blog.images.list }}
      <div class="fh5co-grid-item" style="background-image: url({{ with .img }}{{ . | absURL }}{{ end }});"></div>
      {{ end }}
      {{ end }}

    </div>
  </div>
</div> <!-- END fh5co-about -->
